body {
    background-color: #9178D7;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}
.flex-container {
    display:flex;
    width: 30%;
    height: 50%;
    flex-direction: column;
    background-color: #4b3181;
    border-radius: 25px;
    border: 2px solid #4b3181;
    padding: 40px;
    margin-left: auto;
    float: right;
    margin: 0 auto;
    top:280px;
}
input:focus:valid, textarea:focus:valid{
    background-color: lightgreen;
}
input:focus:invalid, textarea:focus:invalid{
    background-color: lightcoral;
}
input[type=text], input[type=number], input[type=email], input[type=date], input[type=password], select, textarea{
    width: 95%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 22px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: Inter;
    border: 1px solid #ccc;
    border-radius: 15px;
}
input[type=submit], input[type=button]{
    background-color: #9178D7;
    font-size: large;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
#content{
    height:20vh;
}