table{
    border-radius:15px;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 20px;
    background-color: #ededed;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    height: 200px;
}
td{
    padding: 10px;
}
th{
    text-align: center;
}
.title, .sub-title{
    text-align: left;
    width: 40%;
}
input[type=submit]{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 40px;
}
body{
    margin: 0;
}