body {
    background-color: #9178D7;
    margin: 0;
    padding: 0;
    font-family: Inter;
    color: white;
}
img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.flex-container {
    display:flex;
    width: 100%;
   /* height: 50%; */
    /*flex-direction: column;*/
    background-color: #9178D7;
    border-radius: 25px;
  /*   border: 2px solid #9178D7;
   padding: 20px;
    margin: 20px;*/
}
.flex-container > div {
    width:100%;
    padding: 10px;
   
}
.tab {
    height:50px;
    cursor:pointer;
    border-radius: 15px 15px 0px 0px;
    }
#tab1 {
    background-color: #2F1D55;
    text-align: center; 
    color: white; 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 600;
}
#tab2 {
    background-color: #3C00BB;
    text-align: center; 
    color: white; 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 600;
}
#content1, #content2 {
    background-color: #4B3181;
    border-radius: 0px 0px 15px 15px;
    padding: 20px;
}

#content2 {
    display: none;
}
#content1 {
    display: block;
}
* {
    box-sizing: border-box;
}
input:focus:valid, textarea:focus:valid{
    background-color: lightgreen;
}
input:focus:invalid, textarea:focus:invalid{
    background-color: lightcoral;
}
input[type=text], input[type=number], input[type=email], input[type=date], input[type=password], select, textarea{
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 22px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: Inter;
    border: 1px solid #ccc;
    border-radius: 15px;
}
input[type=submit] {
    background-color: #9178D7;
    font-size: large;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}